.main {
  width: 100%;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  width: 1135px;
  height: 636px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 80px 0;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 143px;
  height: 30.305px;
  flex-shrink: 0;
}
.options {
  width: 431px;
  height: 26px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--Pure-White, #fff);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 162.523%; /* 26.004px */
}
.contact {
  width: 172px;
  height: 47px;
  flex-shrink: 0;
  border: 2px solid #fff;
  color: var(--Pure-White, #fff);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  display: flex;
  align-items: center;
  justify-content: center;
}

.heroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  width: 571px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.mainText {
  color: var(--Pure-White, #fff);
  font-family: Inter;
  font-size: 66px;
  font-style: normal;
  font-weight: 500;
  line-height: 147.523%; /* 97.365px */
  & span {
    color: var(--Pure-White, #fff);
    font-family: Inter;
    font-size: 66px;
    font-style: normal;
    font-weight: 700;
    line-height: 147.523%;
  }
}
.subText {
  width: 560px;
  height: 99px;
  flex-shrink: 0;
  opacity: 0.3;
  color: gray;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 162.523%; /* 29.254px */
}
.inputButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 43px;
  padding-left: 10px;
  /* opacity: 0.1; */
  background: gray;
  width: 438px;
  height: 62px;
  flex-shrink: 0;
  & input {
    border: none;
    background-color: gray;
    color: black;
  }
  & button {
    background-color: #e3b748;
    opacity: 1 !important;
    border-radius: 43px;
    background: #e3b748;
    width: 137px;
    height: 62px;
    flex-shrink: 0;
  }
}
